.bg-color {
    background-color: #161616;
  }
  nav {
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 182, 46);
  }

  .nav-ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .nav-li{
    float:left;
  }

  .nav-a{
    display: block;
    padding: 35px 30px;
    text-decoration: none;
    color:black;
    text-align: center;
    }

  .nav-a:hover{
    background-color: rgb(230, 165, 45);
  }
  .navbar-title {
    font-family: "Gugi", cursive;
    font-size: 24;
    margin-left: 20px;

  }
  .navbar-link {
    font-family: "Montserrat", sans-serif;
    font-size: 16;
  }

  .navlink-active{
    background-color: rgb(230, 144, 45);
    float:left;
  }

  .main-content{
    margin-top: 7em;
    margin-left: 0.5em;
  }

  h1{
    font-family: "Montserrat", sans-serif;
    font-size: 22;
    color: white;
    padding-left: 0.25em;
  }

  