.bg-color {
    background-color: #161616;
  }
  nav {
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 182, 46);
    z-index: 1;
  }

  .nav-ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .nav-li{
    float:left;
  }

  .nav-a{
    display: block;
    padding: 35px 30px;
    text-decoration: none;
    color:black;
    text-align: center;
    }

  .nav-a:hover{
    background-color: rgb(230, 165, 45);
  }
  .navbar-title {
    font-family: "Gugi", cursive;
    font-size: 24;
    margin-left: 20px;

  }
  .navbar-link {
    font-family: "Montserrat", sans-serif;
    font-size: 16;
  }

  .navlink-active{
    background-color: rgb(230, 144, 45);
    float:left;
  }

  #welcomescreen{
    margin-left: -0.5em;
    justify-content: space-between;
  }

  #welcomecover{
    background-image: linear-gradient(to right, #16161600,#1616167e, #161616),
    url("image/home.png");
    width: 599px;
    height: 599px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main{
    margin-top: 7em;
  }

  h1, h2{
    font-family: "Montserrat", sans-serif;
    color: white;
  }

  #wc-title{
    position: relative;
    top:3em;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }

  #wc-subtitle{
    font-size: 20px;
    position: relative;
    top: 8em;
    text-align: center;
    font-weight: 500;
  }

  